ORACLE_HOST=
ORACLE_PORT=
ORACLE_SERVICE=
ORACLE_USER=
ORACLE_PASSWORD=

POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=

WHATSAPP_API_URL=
WHATSAPP_API_KEY=
WHATSAPP_INSTANCE=

COLLECTION_CONTACT_PHONE=
